<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Dao untyped engine for easy data access  -->
	<bean id="universalDao" class="org.regola.dao.hibernate.HibernateUniversalDao">
		    <property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
	
	<!-- Dao untyped engine for easy data access with transactional support
	<bean id="transactionalUniversalDao" class="org.regola.dao.hibernate.HibernateTransactionalUniversalDao">
		    <property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
 	-->
</beans>
