<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <import resource="classpath*:/regola-config/applicationContext-dao.xml" />
 
    <!-- Add new DAOs here -->
    <bean id="customerDao" class="org.regola.dao.hibernate.CustomerDaoHibernate">
        	<constructor-arg value="org.regola.model.Customer" />
		    <property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
    
	<!-- bean id="invoiceDao" class="org.regola.dao.ognl.OgnlGenericDao">
		<constructor-arg value="org.regola.model.Invoice" />
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean -->
    	
    
    <bean id="itemDao" class="org.regola.dao.hibernate.ItemDaoHibernate">
        	<constructor-arg value="org.regola.model.Item" />
		    <property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
     
    
    <bean id="invoiceDao" class="org.regola.dao.hibernate.InvoiceDaoHibernate">
        	<constructor-arg value="org.regola.model.Invoice" />
		    <property name="sessionFactory" ref="sessionFactory"/>
    </bean> 
     
</beans>        	
	
            
