<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import resource="classpath:org/regola/dao/applicationContext.xml" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources"
			value="org/regola/model/Customer.hbm.xml" />
		<property name="hibernateProperties">
			<value>
				hibernate.use_sql_comments=true
				hibernate.format_sql=true
				hibernate.dialect=org.hibernate.dialect.HSQLDialect
				hibernate.show_sql=true
			</value>
		</property>
	</bean>

	<bean id="customerDao"
		class="org.regola.dao.hibernate.HibernateGenericDao">
		<constructor-arg value="org.regola.model.Customer" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>