<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- Regola kit imports -->
	<import resource="classpath*:/applicationContext-resources.xml"/>
	<import resource="classpath*:/applicationContext-dao.xml"/>
	<import resource="classpath*:/applicationContext-service.xml"/> 
	
	<!-- Security and Webflow imports -->
	<import resource="security.xml" />
	<import resource="webmvc-config.xml" />
	<import resource="webflow-config.xml" />
	
	<bean id="listActions" class="org.regola.webapp.flow.ListActions">
		<property name="serviceManager" ref="customerManager" />
	</bean>
	
	<bean id="componentListActions" class="org.regola.webapp.flow.ListActionsIceFaces">
	</bean>

</beans>