<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.regola.ide.eclipse.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <menu
               id="org.regola.ide.eclipse.menu1"
               label="Regola-kit"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.regola.ide.eclipse.popup.actions.CodeGeneratorAction"
               enablesFor="1"
               id="org.regola.ide.eclipse.newAction"
               label="Code generator"
               menubarPath="org.regola.ide.eclipse.menu1/group1">
         </action>
         <action
               class="org.regola.ide.eclipse.popup.actions.MasterDetailAction"
               id="org.regola.ide.eclipse.masterDetail"
               label="Master/Detail"
               menubarPath="org.regola.ide.eclipse.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
