<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <!-- =================================================================== -->
    <!-- AOP: Configuration and Aspects                                      -->
    <!-- =================================================================== -->
    
    
    <!-- 
    maggio 09: disabilitate le transazioni (ora gestite da webflow)
    
    <aop:config>
        <aop:advisor id="managerTx" advice-ref="txAdvice"
                     pointcut="execution(* *..service.*Manager.*(..))" order="0" />
    </aop:config>
    
	<tx:annotation-driven />

    <aop:aspectj-autoproxy proxy-target-class="false" />
    
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="save*" read-only="false"/>
            <tx:method name="remove*" read-only="false"/>
            <tx:method name="update*" read-only="false"/>
            <tx:method name="autenticaConPassword*" read-only="false"/>
            <tx:method name="salvaContestoPlitvice*" read-only="false"/>
            <tx:method name="listaProfili*" read-only="false"/> 
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
     -->
         
</beans>
