<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dataSource"
		class="org.unitils.database.UnitilsDataSourceFactoryBean" />

	<bean id="txManager" class="org.springframework.orm.jdo.JdoTransactionManager">
		<property name="persistenceManagerFactory" ref="persistenceManagerFactory" />
	</bean>
	
	<bean id="persistenceManagerFactory"
		class="org.jpox.PersistenceManagerFactoryImpl"
		destroy-method="close">
		<property name="connectionFactory" ref="dataSource" />
		<property name="nontransactionalRead" value="true" />
		<property name="validateTables" value="false" />
	</bean>

	<bean id="customerDao" class="org.regola.dao.jdo.JdoGenericDao">
		<constructor-arg value="org.regola.model.Customer" />
		<property name="persistenceManagerFactory"
			ref="persistenceManagerFactory" />
	</bean>
</beans>