<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import
		resource="classpath:org/regola/dao/jpa/applicationContext.xml" />

	<bean name="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.TopLinkJpaVendorAdapter">
		<property name="showSql" value="true" />
		<property name="database" value="HSQL" />
	</bean>

	<!--	<bean id="loadTimeWeaver"-->
	<!--		class="org.springframework.instrument.classloading.SimpleLoadTimeWeaver" />-->

	<bean name="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<!--		<property name="dataSource" ref="dataSource" />-->
		<!--		<property name="loadTimeWeaver" ref="loadTimeWeaver" />-->
		<property name="persistenceUnitName" value="JpaGenericaDaoTest" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<property name="jpaProperties">
			<props>
				<!--<prop key="toplink.weaving">static</prop>-->
				<!--<prop key="toplink.weaving.lazy">true</prop>-->
				<!--<prop key="toplink.weaving.changetracking">true</prop>-->
				<!--<prop key="toplink.orm.throw.exceptions">true</prop>-->
				<prop key="toplink.logging.exceptions">true</prop>
				<prop key="toplink.logging.level">ALL</prop>
				<prop key="toplink.logging.level.ejb_or_metadata">
					FINEST
				</prop>
				<prop key="toplink.logging.level.weaver">FINEST</prop>
				<prop key="toplink.logging.level.properties">
					FINEST
				</prop>
				<prop key="toplink.jdbc.driver">
					${jdbc.driverClassName}
				</prop>
				<prop key="toplink.jdbc.url">${jdbc.url}</prop>
				<prop key="toplink.jdbc.user">${jdbc.username}</prop>
				<prop key="toplink.jdbc.password">${jdbc.password}</prop>
				<prop key="toplink.target-database">
					oracle.toplink.essentials.platform.database.HSQLPlatform
				</prop>
				<!--<prop key="toplink.ddl-generation">create-tables</prop>-->
			</props>
		</property>
	</bean>

</beans>