<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean name="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.OpenJpaVendorAdapter">
		<property name="showSql" value="true" />
		<property name="database" value="HSQL" />
	</bean>

	<bean id="loadTimeWeaver"
		class="org.springframework.instrument.classloading.SimpleLoadTimeWeaver" />

	<bean name="entityManagerFactory"
		parent="abstractEntityManagerFactory">
		<property name="loadTimeWeaver" ref="loadTimeWeaver" />
		<property name="jpaProperties">
			<value>
				<![CDATA[
				openjpa.Log=DefaultLevel=WARN,Runtime=TRACE,Tool=INFO,SQL=TRACE
				openjpa.ConnectionFactoryProperties=PrettyPrint=true,PrettyPrintLineLength=72
				]]>
			</value>
		</property>
	</bean>

</beans>