<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean" />

	<bean id="dataSource"
		class="org.unitils.database.UnitilsDataSourceFactoryBean" />

	<bean id="customerDao"
		class="org.regola.dao.jpa.JpaGenericDaoImpl">
		<constructor-arg value="org.regola.model.Customer" />
	</bean>
</beans>