<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean name="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.TopLinkJpaVendorAdapter">
		<property name="database" value="HSQL" />
		<property name="showSql" value="true" />
	</bean>

	<bean id="loadTimeWeaver"
		class="org.springframework.instrument.classloading.SimpleLoadTimeWeaver" />

	<bean name="entityManagerFactory"
		parent="abstractEntityManagerFactory">
		<property name="loadTimeWeaver" ref="loadTimeWeaver" />
	</bean>

</beans>