<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
            http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd">

   <import resource="classpath*:/regola-config/applicationContext-service.xml" />        
                
	<!-- Add new Managers here -->

    <bean id="customerManager" class="org.regola.service.impl.CustomerManagerImpl">      
	    <constructor-arg>          
	        <bean class="org.regola.dao.hibernate.CustomerDaoHibernate" autowire="byType">              
	            <constructor-arg value="org.regola.model.Customer"/>          
	        </bean>      
    </constructor-arg>  
   </bean>
   
   	<bean id="customerList"
		class="org.regola.webapp.action.CustomerList" scope="session" init-method="init">
		<property name="serviceManager" ref="customerManager" />
		<property name="eventBroker" ref="eventBroker"  />
		<property name="confirmDlg" ref="confirmDlg" />
		<property name="columnsDlg" ref="columnsDlg" />
		<property name="orderDlg" ref="orderDlg" />
	</bean>
	
	<bean id="customerForm" class="org.regola.webapp.action.CustomerForm" scope="session" init-method="init">
		<property name="serviceManager" ref="customerManager" />
		<property name="encodedId"  ref="id"/>
		<property name="eventBroker" ref="eventBroker" />
	</bean>
	
</beans>	
	
                
