<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean name="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.TopLinkJpaVendorAdapter">
		<property name="showSql" value="true" />
		<property name="database" value="HSQL" />
	</bean>

	<bean id="loadTimeWeaver"
		class="org.springframework.instrument.classloading.SimpleLoadTimeWeaver" />

	<bean name="entityManagerFactory"
		parent="abstractEntityManagerFactory">
		<property name="loadTimeWeaver" ref="loadTimeWeaver" />
		<property name="jpaProperties">
			<value>
				<![CDATA[
				#toplink.weaving=true
				#toplink.weaving.lazy=true
				#toplink.weaving.changetracking=true
				#toplink.orm.throw.exceptions=true
				toplink.logging.exceptions=true
				#toplink.logging.level=ALL
				toplink.logging.level.ejb_or_metadata=FINEST
				toplink.logging.level.weaver=FINEST
				#toplink.logging.level.properties=FINEST
				]]>
			</value>
		</property>
	</bean>

</beans>