<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import resource="classpath:org/regola/dao/applicationContext.xml" />

	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation"
			value="classpath:org/regola/dao/ibatis/sql-map-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="customerDao"
		class="org.regola.finder.FinderFactoryBean">
		<property name="proxyInterfaces"
			value="org.regola.dao.CustomerDao" />
		<property name="target">
			<bean id="customerDaoTarget"
				class="org.regola.dao.ibatis.IbatisGenericDao">
				<constructor-arg value="org.regola.model.Customer" />
				<property name="sqlMapClient" ref="sqlMapClient" />
			</bean>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>